<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <!--控制台输出-->
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] [%logger:%M:%L] - %msg%xEx%n"/>
        </Console>

        <!--写入kafka   topic订阅的主题-->
        <Kafka name="kafkaAppender" topic="my-log" ignoreExceptions="false">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [mqtt-apidao] [%p] [%t] [%logger:%M:%L] - %msg%xEx%n"/><!--显示信息格式-->
            <Property name="bootstrap.servers">localhost:9092</Property><!--kafka地址-->
            <Property name="timeout.ms">2000</Property><!--写入超时时间-->
        </Kafka>

        <RollingFile name="failoverKafkaLog" fileName="./logs/mqtt-apidao.log"
                     filePattern="./logs/mqtt-apidao/$${date:yyyy-MM}/log-%d{MM-dd-yyyy}.log.gz" immediateFlush="false"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [IP:127.0.0.1:8090/ebcuiy] [%p] [%t] [%logger:%M:%L] - %msg%xEx%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

        <!--kafka写入失败触发写入本地日志-->
        <Failover name="Failover" primary="kafkaAppender" retryIntervalSeconds="600">
            <Failovers>
                <AppenderRef ref="failoverKafkaLog"/>
            </Failovers>
        </Failover>
    </Appenders>
    <Loggers>
        <!--配置日志的根节点-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Failover"/>
        </Root>
    </Loggers>
</Configuration>