<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <!--控制台输出-->
        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] [%logger:%M:%L] - %msg%xEx%n"/>
        </Console>

        <!--&lt;!&ndash;写入kafka   topic订阅的主题&ndash;&gt;-->
        <!--<Kafka name="kafkaAppender" topic="my-log" ignoreExceptions="false">-->
            <!--<PatternLayout-->
                    <!--pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [mqtt-apidao] [%p] [%t] [%logger:%M:%L] - %msg%xEx%n"/>&lt;!&ndash;显示信息格式&ndash;&gt;-->
            <!--<Property name="bootstrap.servers">localhost:9092</Property>&lt;!&ndash;kafka地址&ndash;&gt;-->
            <!--<Property name="timeout.ms">2000</Property>&lt;!&ndash;写入超时时间&ndash;&gt;-->
        <!--</Kafka>-->

        <!--<RollingFile name="failoverKafkaLog" fileName="./logs/mqtt-apidao.log"-->
                     <!--filePattern="./logs/mqtt-apidao/$${date:yyyy-MM}/log-%d{MM-dd-yyyy}.log.gz" immediateFlush="false"-->
                     <!--ignoreExceptions="false">-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [IP:127.0.0.1:8090/ebcuiy] [%p] [%t] [%logger:%M:%L] - %msg%xEx%n-->
                <!--</Pattern>-->
            <!--</PatternLayout>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy/>-->
            <!--</Policies>-->
        <!--</RollingFile>-->

        <!--&lt;!&ndash;kafka写入失败触发写入本地日志&ndash;&gt;-->
        <!--<Failover name="Failover" primary="kafkaAppender" retryIntervalSeconds="600">-->
            <!--<Failovers>-->
                <!--<AppenderRef ref="failoverKafkaLog"/>-->
            <!--</Failovers>-->
        <!--</Failover>-->
    </Appenders>
    <Loggers>
        <!--配置日志的根节点-->
        <Root level="all">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="Failover"/>-->
        </Root>
    </Loggers>
</Configuration>